body,
ul {
    margin: 0; 
    padding: 0; 
}

body {
    font-family: Arial, sans-serif; /* Set font family */
    line-height: 1.6; /* Set line height */
    background-color: #f4f4f4; 
}

header {
    background-color: #0F1035; /* Set header background color */
    color: #fff; 
    padding: 20px; 
    text-align: center; /* Center align header text */
}

nav ul {
    list-style-type: none; /* Remove default list style */
    background-color: #2D3250; 
    padding: 10px 0; 
    text-align: center; 
}

nav ul li {
    display: inline; /* Display navigation items inline */
    margin-right: 20px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none; /* Remove underline from navigation links */
}

main {
    display: flex; /* Use flexbox for main content */
    flex-wrap: wrap; /* Allow content to wrap */
    justify-content: space-between; 
    padding: 20px; 
}

.content {
    display: flex; 
    flex-direction: column; /* Stack content vertically */
    flex: 1; /* Take up remaining space */
    margin-right: 20px; 
}

.image-container {
    flex: 2; 
    padding-left: 3px; 
    margin-right: 3px; 
}

.image-container img {
    width: 100%; /* Make images responsive */
}

.task-column,
.material-column {
    flex: 1; /* Equal width columns */
    margin-bottom: 20px; 
    background-color: #fff; 
    border-radius: 5px; /* Add border radius */
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.task-column h2,
.material-column h2 {
    margin-top: 0; 
    margin-left: 10px;
}

/* Add margin-left for list items */
.task-column li,
.material-column li {
    margin-left: 20px; 
}

footer {
    background-color: #333; 
    color: #fff; 
    text-align: center; /* Center align footer text */
    padding: 10px;
}

.important-dates {
    flex: -1; /* Shrinked width */
    background-color: #1B3C73;
    color: #fff; 
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 300px; 
}

.important-dates ul {
    list-style-type: none; /* Remove default list style */
    padding: 0; 
}

.important-dates h2 {
    margin-top: 0; /* Remove margin from the top */
}

.important-dates ul li {
    margin-bottom: 10px; /* Add margin to the bottom */
    padding: 10px;
    background-color: #264653; 
    border-radius: 5px; 
}

.important-dates ul li:last-child {
    margin-bottom: 0; 
}

.important-dates ul li:before {
    content: "\2022"; /* Bullet character */
    color: #f4a261; 
    font-weight: bold; /* Set font weight */
    display: inline-block; 
    width: 1em; /* Set width */
    margin-left: -1em; /* Adjust margin */
}
